/* COLORS:
#D71D00
#B4EE18
#8A1E0E
#1047A4
#07388A
*/
body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

h1 {
  color: #D71D00;
  font-family: 'PT Sans', sans-serif;
  font-size: 48px;
  font-weight: bolder;
  /* margin: 20px 20px 10px; */
  text-align: center;
}

h2 {
  color: #1047A4;
  font-family: 'Lato', sans-serif;
  text-decoration: underline;
  text-align: center;
  border: #8A1E0E 2px dashed;
}

p {
  font-family: 'Lato', 'Calibri', sans-serif;
  line-height: 20px;
  /* word-spacing: 20px; */
  /* letter-spacing: 10px; */
}

p.paragraphs {
  font-size: 14px;
  text-align: justify;
  /* width: 300px;
  height: 100px;
  overflow: scroll; */
  /* width is kind of same as max-width */
}

a {
  color: #B4EE18;
  font-weight: bolder;
  font-style: italic;
}

a,
a:visited {
  text-decoration: none;
  color: #07388A;
}

a:hover {
  text-decoration: underline;
}

#page {
  width: 1200px;
  background-color: darkorchid;
  height: 2500px;
  float: left;
}

header {
  width: 1200px;
  float: left;
  background-color: pink;
}

nav ul {
  /* only really use if you are making list item smaller than the whole nav */
  width: 1000px;
  margin-left: 100px;
}

nav ul li {
  display: inline;
  list-style-type: none;
  margin-right: 75px;
  font-size: 32px;
  background-color: yellow;
  padding: 10px;
  border-radius: 30px 5px;
  /* margin-bottom: 20px;
  width: 200px;
  text-align: center; */
}

nav ul li a,
nav ul li a:visited {
  color: #b300b3;
}

nav ul li a:hover {}

nav {
  width: 1200px;
  /* height: 50px; */
  float: left;
  background-color: aquamarine;
}

aside {
  float: left;
  width: 200px;
  height: 100px;
  background-color: blue;
}

main {
  float: left;
  width: 1000px;
  height: 100px;
  background-color: darkorange;
}

footer {
  float: left;
  width: 1200px;
  /* height: 50px; */
  background-color: lightgreen;
}

#disney {
  float: left;
  background-color: maroon;
  width: 965px;
  margin-left: 10px;
  margin-right: 10px;
}

.shows {
  float: left;
  width: 185px;
  height: 300px;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid black;
}