:root {
  --orange: #FF9C00;
  --red: #D93B0A;
  --blue #0CA1C2;
  --purple: #4C0C82;
  --green: #056633;
}

.most-recent-blurb {
  background-color: white;
  border: 2px solid black;
  margin-right: 3.5%;
  margin-left: 2%;
  margin-bottom: 2%;
  padding-top: 1%;
}

.embed-responsive {
  margin-left: 3.5%;
}

#myCarousel {
  /* height: 20%;
  width: auto; */
  margin: 0.5% 2% 2%;
}

.connect-banner {
  background-color: #4C0C82;
  color: white;
  padding: 1%;
  /* margin-bottom: 3%; */
}

.social-icons {
  /* margin-bottom: 3%; */
  background-color: #0CA1C2;
  padding: 3%;
  margin: 0.5% 1% 1%;
}

.social-icons a {
  transition: all 0.3s ease-in-out;
  color: white;
}

.social-icons a:hover {
  color: lightgrey;
}

.social-icons a:visited {
  color: #FF9C00;
}

body {
  font-size: 100%;
}

.footer {
  background-color: lightgrey;
  padding-top: 5%;
  padding-bottom: 1%;
}

.footer h1 {
  font-size: 16px;
}

a {
  transition: all 0.3s ease-in-out;
  color: #056633;
  font-weight: bold;
}

a:hover {
  color: #07964B;
}

a:visited {
  color: #FF9C00;
}
/* about us page */
.banner {
  background-color: #0CA1C2;
  color: white;
  padding: 1%;
  margin-top: 1%;
}

.info-blurbs {
  margin: 3% 0 1%;
}

.aboutus-photo {
  padding: 1%;
}
/* members page */
/* upcoming page */

.upcoming-photo {
  padding: 1%;
}